$ cat openssl.cnf 
[ ca ]
default_ca      = CA_default

[ CA_default ]
dir             = /root/ca
certs           = $dir/certs
crl_dir         = $dir/crl
new_certs_dir   = $dir/newcerts
database        = $dir/index.txt
serial          = $dir/serial
RANDFILE        = $dir/private/.rand
private_key     = $dir/private/ca.key.pem
certificate     = $dir/certs/ca.cert.pem
crlnumber       = $dir/crlnumber
crl             = $dir/crl/ca.crl.pem
crl_extensions  = crl_ext
default_crl_days= 30
default_md      = sha256
preserve        = no
policy          = policy_strict

[ policy_strict ]
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_bits        = 4096
distinguished_name = req_distinguished_name
string_mask         = utf8only
default_md          = sha256
x509_extensions     = v3_ca

[ req_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         = QA 
stateOrProvinceName         = State or Province Name
stateOrProvinceName_default = Doha 
localityName                = Locality Name
localityName_default        = Bin Omran 
0.organizationName          = Organization Name
0.organizationName_default  = ABC Inc. 
commonName                  = Common Name
commonName_default          = rootca.abc.io
emailAddress                = Email Address
emailAddress_default        = pki@abc.io

# Root CA extensions for self-signed cert
[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:1
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ v3_intermediate_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

# Extensions for CRL signed by this CA
[ crl_ext ]
authorityKeyIdentifier=keyid:always

# Extensions for intermediate CA certs issued
[ v3_aia_cdp ]
authorityInfoAccess = @aia_info
crlDistributionPoints = @crl_info

[ aia_info ]
caIssuers;URI.0 = http://rootca.abc.io/certs/ca.cert.pem

[ crl_info ]
URI.0 = http://rootca.abc.io/crl/ca.crl.pem
